* {
    margin: 0;
    padding: 0;
  }

  body, html {
    height: 100%;
  }

  .bg {
    background-image: url('/assets/img/bg image.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; /* Position relative to use absolute positioning for text */
  }

  .img {
    width: 2000px; /* Set the width of the image */
    height: auto;
  }

  .header {
    color: rgb(99, 0, 192);
    font-size: 24px;
    margin-top: -5%;
  }

  .footer {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-top: -5%;
  }

  a {
    display: inline-block; /* Make the link behave like a block-level element */
    padding: 10px 20px; /* Add padding to create spacing around the text */
    border: 2px solid rgb(192, 0, 0); /* Add a border with a specified color */
    text-decoration: none; /* Remove the default underline */
    color: rgb(7, 4, 4); /* Set text color */
    font-size: medium;
  }

  a:hover {
    background-color: rgba(192, 0, 0, 0.2); /* Add a background color on hover */
  }
