body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://64.media.tumblr.com/bcd7f466b6dcf30020ea54f753d54c0b/5325d885fc3f3f9d-3a/s540x810/e813c6a65ba6f25dc3637785f7e8274015b4524d.png');
  background-size: cover;
  }
  .container {
  text-align: center;
  }
  .buttons {
  margin-top: 20px;
  }
  .btn {
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  background-color: #ff85a2;
  color: white;
  border-radius: 5px;
  }
  .btn:hover {
  background-color: #d66fc9;
  }
  
  & .kirby {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  }