body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('https://f8n-production.s3.amazonaws.com/creators/profile/fcusz42mh-obs-gif-4i7ctk.gif');
  background-size: cover;
  }
  .container {
  text-align: center;
  }

  .container h1{
    font-size: 70px;
    color: aliceblue;
  }

  .container h2{
    font-size: 50px;
    color: aliceblue;
  }

  .container p{
    font-size: 25px;
    color: aliceblue;
  }
  .buttons {
  margin-top: 20px;
  }
  .btn {
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  background-color: #c372f5;
  color: white;
  border-radius: 5px;
  }
  .btn:hover {
  background-color: #d98af2;
  }
  
  & .kirby {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  }